@charset "utf-8";
/* CSS Document */

a {
  color: #E07354;
  text-decoration: none;
}

.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }

#one {
background-color: #F78486;
width: 50%;
height: 200;
float:left;
}
#two {
background-color: #EE9A1F;
width: 50%;
height: 200;
float:right;
}
#three {
background-color: #87DB06;
width: 50%;
height: 200;
float:left;
}

#bigbox {
width: 1200px;
height: 1850px;
}
